<a href="https://colab.research.google.com/github/noctxrne/ICT_Notes/blob/main/01_datatypes_and_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variables and Datatypes in Python**

In [ ]:
age='a'

In [ ]:
print(age)

a

In [ ]:
type(age)

str

In [ ]:
print(100)

100

## **Sequence**

**List**

In [ ]:
days=[7,9,0]
type(days)

list

**Tuple**

In [ ]:
marks=('Student1',98,'Student2',90)
print(marks)

('Student1', 98, 'Student2', 90)

**Range**
(to print numbers)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(2,5))

[2, 3, 4]

In [ ]:
list(range(7,2,-1))

[7, 6, 5, 4, 3]

Third number or step value means how much should we increment

In [ ]:
list(range(10,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## **Mapping Type**

**Dictionary**

In [ ]:
details={'batch':7,'course': 'DSA'}
details['course']

'DSA'

In [ ]:
type(details)

dict

In [ ]:
details['location']='TVM'
print(details)

{'batch': 7, 'course': 'DSA', 'location': 'TVM'}

In [ ]:
print (details.keys())
print (details.values())

dict_keys(['batch', 'course', 'location'])
dict_values([7, 'DSA', 'TVM'])

## **Set Datatype**

Selects unique numbers an displays as set in order

In [ ]:
data=[1,4,3,2,5,6,6,6,64,4,2,0]
set(data)

{0, 1, 2, 3, 4, 5, 6, 64}

## **Boolean**

In [ ]:
engine_on=False
engine_off=True
type(engine_off)
print(engine_on)

False

## **None**

In [ ]:
value= None
type(value)

NoneType

# **Activity**

**Birthdate**

In [ ]:
year_of_birth=1990
age=2025-year_of_birth
print(age)

35

**Bio Data**

In [ ]:
biodata={'Name1':'Nikhil','Age1': 25,'Location1':'Idukki',
         'Name2':'Sreesanth','Age2': 20,'Location2':'Pathanamthitta',
         'Name3':'Saketh','Age3': 23,'Location3':'Tvm'}
print(biodata)

**List**

In [ ]:
list_1=list(range(99,0,-2))
print(list_1)

[99, 97, 95, 93, 91, 89, 87, 85, 83, 81, 79, 77, 75, 73, 71, 69, 67, 65, 63, 61, 59, 57, 55, 53, 51, 49, 47, 45, 43, 41, 39, 37, 35, 33, 31, 29, 27, 25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

**To Do List**

In [ ]:
to_do_list=['Wash clothes','Prepare notes','Drink Water','Take Medicine','Read']
print(to_do_list[1])
print(to_do_list[-2])

Prepare notes
Take Medicine

**Length of name**

In [ ]:
my_name='saketh'
print(len(my_name))

6

**Arithematic operations on User given numbers**

In [ ]:
number1=int(input('Enter first number:'))
number2=int(input('Enter first number:'))
print("Sum of numbers is",number1 + number2)
print("Difference of numbers is",number1 - number2)
print("Product of numbers is",number1 * number2)
print("Quotient of numbers is",number1 / number2)

Enter first number:2
Enter first number:3
Sum of numbers is 5
Difference of numbers is -1
Product of numbers is 6
Quotient of numbers is 0.6666666666666666

**Birthdate**

In [ ]:
year_of_birth=int(input("Enter your birth year: "))
age=2025-year_of_birth
print("Your year of birth: ",year_of_birth)
print("Your age would be: ",age)

Enter your birth year: 2002
Your year of birth:  2002
Your age would be:  23

# **Operators**

### **Arithematic Operators**

In [ ]:
number1=int(input('Enter first number:'))
number2=int(input('Enter first number:'))
print("Sum of numbers is",number1 + number2)
print("Difference of numbers is",number1 - number2)
print("Product of numbers is",number1 * number2)
print("Remainder of numbers is",number1 % number2)
print("Exoponent of numbers is",number1 ** number2)
print("Floor Division of numbers is",number1 // number2)

Enter first number:3
Enter first number:5
Sum of numbers is 8
Difference of numbers is -2
Product of numbers is 15
Remainder of numbers is 3
Exoponent of numbers is 243
Floor Division of numbers is 0

### **Comparison Operator**

**>  ,  <  ,  == ,  >=  ,  <=  , !=**

### **Logical Operator**

In [ ]:
print(True or False)

True

In [ ]:
print(True and False)

False

In [ ]:
print(not False)

True

### **Membership Operator**

In [ ]:
#In
print(2 in [1,2,3,4,5])

True

In [ ]:
#not in
print(2 not in [1,2,3,4,5])

False

### **Identity Operator**

In [ ]:
#is
a=8
b=7
print(a is b)
c=8
print(a is c)

False
True

In [ ]:
# is not
print (a is not b)

True

# **Overriding**

In [ ]:
message =input ("Enter greeting message:")+"\n"
print(message*5)

Enter greeting message:Hi
Hi
Hi
Hi
Hi
Hi

# **Indexing**

In [ ]:
greeting ="Well Done"
print(greeting[0])
print(greeting[1])
print(greeting[2])
print(greeting[3])
print(greeting[5:9])
print(greeting[0:4:2])
print(greeting[0:9])
print(greeting[9::-1])

W
e
l
l
Done
Wl
Well Done
enoD lleW

# **Split**

In [ ]:
message="Hello I am X"
print(message.split())
print(message.split()[0])
print(message.split()[1])
print(message.split()[2])
print(message.split()[3])

['Hello', 'I', 'am', 'X']
Hello
I
am
X

# **Palindrome**

In [ ]:
word=str(input("Enter a word:"))
word==word[len(word)::-1]

Enter a word:racecar

True

In [ ]:
word=str(input("Enter a word:"))
word==word[::-1]

Enter a word:racecar

True

# **String number to Word**

In [ ]:
word=["zero","one","two","three","four","five","six","seven","eight","nine"]
digit=int(input("Enter Digit:"))
print(word[digit])

Enter Digit:7
seven

# **String Word to number**

In [ ]:
words=(input("Enter number in words:")).split()
num={'zero':0,'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9}
print(num[words[0]])

Enter number in words:three
3

# **4 Word to number**

In [ ]:
words=(input("Enter number in words:")).split()
num={'zero':0,'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9}
print(num[words[0]],num[words[1]],num[words[2]],num[words[3]])

Enter number in words:four five two six
4 5 2 6

# **Control Flow**

### **IF**

In [ ]:
age=int(input("Enter your age:"))
if age>=18 :
  print("You're eligible to vote")
if age<18:
  print("You're not eligible to vote")

Enter your age:17
You're not eligible to vote

### **IF-ELSE**

In [ ]:
age=int(input("Enter your age:"))
if age>=18 :
  print("You're eligible to vote")
else:
  print("You're not eligible to vote")

Enter your age:7
You're not eligible to vote

### **IF-ELIF-ELSE**

In [ ]:
x=int(input("Enter a number:"))
if x>0:
  print("number is positive")
elif x<0:
  print("number is negative")
else:
  print("number is zero")

Enter a number:-6
number is negative

## **Nested IFs**

## **Problems**

In [ ]:
#WAP to find the person is a child teenager adult or a senior citizen
age=int(input("Enter your age:"))
if age>=0 and age<=12:
  print("you're a child")
elif age>=13 and age<=19:
  print("you're a teenager")
elif age>=20 and age<=59:
  print("you're a adult")
else:
  print("you're a senior citizen")

Enter your age:56
you're a adult

In [ ]:
#WAP to check if your name is lengthy (more than 10 characters)
name=input("Enter name: ")
if(len(name)>10):
  print("name is lengthy")
else:
  print("name is not lengthy")

Enter name: Sreeshanth
name is not lengthy

In [ ]:
#WAP to find if the time is AM or PM
time=input("Enter time:")
hours=time.split(':')[0]
mins=time.split(':')[1]
if(int(hours)>=13 and int(hours)<=24):
  newhours=int(hours)-12
  print("Time is ",newhours,":",int(mins),"PM")
elif(int(hours)<13):
  newhours=int(hours)
  print("Time is ",newhours,":",int(mins),"AM")
else:
  print("enter correct time")

Enter time:18:9
Time is  6 : 9 PM

In [ ]:
#WAP to print string is palindrome or not
string=input("Enter string:")
if (string==string[::-1]):
  print("string is a palindrome")
else:
  print("string is not a palindrome")

Enter string:racecar
string is a palindrome

In [ ]:
#WAP to check your favorite color is primary color(R/G/B) or not
color=input("Enter color:")
if (color=="red" or color=="Red"or color=="green"or color=="Green"or color=="blue"or color=="Blue"):
  print("Color is a primary color")
else:
  print("Color is not a primary color")

Enter color:pink
Color is not a primary color

In [ ]:
#WAP to check whether a product has expired (6 months shelf life) or not based on MFD provided by the user in dd/mm/yyy format
mfd=input("Enter manufactured date(dd/mm/yyyy):")
date=int(mfd.split("/")[0])
month=int(mfd.split("/")[1])
year=int(mfd.split("/")[2])
if(year<2025):
  print("Product has expired")
elif(year==2025):
  if(month<2):
    print("Product has expired")
  else:
      print("Product not expired")
else:
  print("Product not expired")

Enter manufactured date(dd/mm/yyyy):1/5/2025
Product not expired

In [ ]:
#WAP to find the largest of 3 numbers
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
num3=int(input("Enter third number:"))
if(num1>num2):
  if num1>num3:
    print("First number ",num1," is the largest")
  else:
    print("Third number ",num3," is the largest")
elif(num2>num1):
  if num2>num3:
    print("First number ",num2," is the largest")
  else:
    print("Third number ",num3," is the largest")
elif (num1==num2 and num3>num1):
  print("Third number ",num3," is the largest")
elif( num1==num2 and num3<num1):
  print("First number ",num1," and Second number ",num2, " is the largest")
else:
    print("First number Second number and Third number are all ",num1)

Enter first number:2
Enter second number:2
Enter third number:2
First number Second number and Third number are all  2

**String Formatting**

In [ ]:
print('this is {} and this is {}'.format('a','b'))
print('This is {1} and this is {0}'.format('1','2'))
print(f'This is {"s"} and this is {7}')

this is a and this is b
This is 2 and this is 1
This is s and this is 7

In [ ]:
pi=3.14159625
print(f'pi contain {pi:.1f}')
print(f'pi contain {pi:.2f}')
print(f'pi contain {pi:.3f}')
print(f'pi contain {pi:.4f}')
print(f'pi contain {pi:.5f}')

pi contain 3.1
pi contain 3.14
pi contain 3.142
pi contain 3.1416
pi contain 3.14160

**Multivariable Assignment**

In [ ]:
name,age,location= 'nikhil',25,'Idukki'
print(name)
print(age)
print(location)

nikhil
25
Idukki

In [ ]:
#WAP to print if the day is a holiday or not
days={"Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"}
day=input("Enter day:")
if day not in days:
  print("Invalid day")
elif day=='Saturday' or day=='Sunday':
  print("Holiday")
else:
  print("Working day")

Enter day:Saturday
Holiday

**Separator**

In [ ]:
print("Hello","There",sep='---')
print('one')
print('two',end="-")
print('three')

Hello---There
one
two-three

**Type Conversion and Casting**

In [ ]:
a = 54
print(type(a))
b = str (a)
print(b,type(b))

<class 'int'>
54 <class 'str'>

In [ ]:
integer_1 = 3
float_1 = 2.7
string_1 = "24"
list_1 = [1,2,3,4]
tuple_1 = (1,2,3,4,5)

In [ ]:
#int to string
print(type(str(integer_1)))
#int to float
print(type(float(integer_1)))
#string to int
print(type(int(string_1)))
#string to float
print(type(float(string_1)))
#float to string
print(type(str(float_1)))
#float to int
print(type(int(float_1)))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>

In [ ]:
integer_2 = int(string_1)
type(integer_2)

**Append Extend Remove Insert Reverse Sort Pop Clear**

In [ ]:
x = [1,2,3]
x.append(4)
print(x)

x.extend([5,6,7])
print(x)

x.remove(2)
print(x)

x.insert(0, 10)
print(x)

x.reverse()
print(x)

x.sort()
print(x)

e = x.pop(0)
print(e, x)

x.clear()
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
[1, 3, 4, 5, 6, 7]
[10, 1, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 1, 10]
[1, 3, 4, 5, 6, 7, 10]
1 [3, 4, 5, 6, 7, 10]
[]

In [ ]:
#WAP to convert date format from dd/mm/yyyy to 1) mm-dd-yyyy  2) dd-mm-yyyy  3) yyyy-dd-mm
date=input("Enter manufactured date(dd/mm/yyyy):")
day=int(date.split("/")[0])
month=int(date.split("/")[1])
year=int(date.split("/")[2])
print(f"{month}-{day}-{year}")
print(f"{day}-{month}-{year}")
print(f"{year}|{day}|{month}")

Enter manufactured date(dd/mm/yyyy):8/9/8
9-8-8
8-9-8
8|8|9

In [ ]:
date=input("Enter manufactured date(dd/mm/yyyy):")
day=(date.split("/")[0])
month=(date.split("/")[1])
year=(date.split("/")[2])
print(('-').join([month,day,year]))
print(('-').join([day,month,year]))
print(('|').join([year,day,month]))

#.join()  joining string values inside paranthesis with respective string.

Enter manufactured date(dd/mm/yyyy):05/06/2002
06-05-2002
05-06-2002
2002|05|06