<a href="https://colab.research.google.com/github/noctxrne/ICT_Notes/blob/main/02_Iterative_Statements_and_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Iterative Statements and Functions**

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for num in range(100,140,2):
  print(num)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138

In [ ]:
my_list=['bat','cat','pin','fox','lap','pan','log']
for item in my_list:
  print(item)

bat
cat
pin
fox
lap
pan
log

In [ ]:
my_list=['bat','cat','pin','fox','lap','pan','log']
for i in range(len(my_list)):
  print(my_list[i])

bat
cat
pin
fox
lap
pan
log

In [ ]:
my_list=['bat','cat','pin','fox','lap','pan','log']
for i in range(len(my_list)):
  if i>len(my_list)/2 :
    print(my_list[i])
  else:
    print("Error")

Error
Error
Error
Error
lap
pan
log

In [ ]:
my_dict={
    'name':"Sherin",
    'age':23,
    'course':"DSA",
    'From':"TVM",
    'Food':"Biriyani",
    'Game':"Cricket",
    'Place':"Goa",
}
print(my_dict)
my_dict.keys()
my_dict.values()
my_dict.items()

for k,v in my_dict.items():
  print(f"My {k} is {v}")

{'name': 'Sherin', 'age': 23, 'course': 'DSA', 'From': 'TVM', 'Food': 'Biriyani', 'Game': 'Cricket', 'Place': 'Goa'}
My name is Sherin
My age is 23
My course is DSA
My From is TVM
My Food is Biriyani
My Game is Cricket
My Place is Goa

In [ ]:
budget=int(input("Enter Budget: "))
b=budget
my_list={
    'apple':23,
    'banana':45,
    'tomato':63,
    'carrot':40,
    'potato':46,
    'beans':23,
}

newlist=[]
print("ITEMS:")
for k,v in my_list.items():
  print(f"{k} - {v}")
for k,v in my_list.items():
  if b > v:
    newlist.append(k)
    b=b-v
print("Items you can purchase:")
print(newlist)
print(f"Your Balance: {b}")

Enter Budget: 100
ITEMS:
apple - 23
banana - 45
tomato - 63
carrot - 40
potato - 46
beans - 23
Items you can purchase:
['apple', 'banana', 'beans']
Your Balance: 9

In [ ]:
for i in range(1,100):
  if(i%3==0 and i%5==0):
    print(i)

15
30
45
60
75
90

In [ ]:
A=1
while A < 10:
  print(A)
  A+=2
else:
  print("You crossed the limit")

1
3
5
7
9
You crossed the limit

In [ ]:
balance=int(input("Enter balance: "))
while(balance>0):
  print(f"Balance is {balance}")
  balance-=1

Enter balance: 10
Balance is 10
Balance is 9
Balance is 8
Balance is 7
Balance is 6
Balance is 5
Balance is 4
Balance is 3
Balance is 2
Balance is 1

In [ ]:
#Secret game
snum=5
num=int(input("Guess the secret number: "))
while(num!=snum):
  print("Try again")
  num=int(input("Guess the secret number: "))
else:
  print("You've found the Secret number")

Guess the secret number: 9
Try again
Guess the secret number: 7
Try again
Guess the secret number: 6
Try again
Guess the secret number: 3
Try again
Guess the secret number: 5
You've found the Secret number

In [ ]:
import random
secretNum=random.randint(1,10)
num=int(input("Guess the secret number: "))
while(num!=secretNum):
  print("Try again")
  num=int(input("Guess the secret number: "))
else:
  print("Correct")

Guess the secret number: 6
Try again
Guess the secret number: 9
Try again
Guess the secret number: 1
Try again
Guess the secret number: 3
Try again
Guess the secret number: 8
Try again
Guess the secret number: 9
Try again
Guess the secret number: 3
Try again
Guess the secret number: 4
Correct

In [ ]:
pw="hello123"
i=0
while(i<3):
  new_pass=input("Enter password: ")
  if(new_pass!=pw):
    print("Incorrect Password")
  else:
    print("Correct Password")
  i+=1

else:
  if(i>3):
    print("out of trys")

Enter password: g
Incorrect Password
Enter password: g
Incorrect Password
Enter password: hello123
Correct Password

In [ ]:
movie_list={
    'Before Sunrise':5,
    'Bullet Train':8,
    'Primer':7,
    'Arrival':8,
    'Curious Case Of Benjamin Button':7.5,
    'Old Boy':8.8,
    'Dear Friend':7,
    'DevD':7.2,
    'The Art of Racing in the Rain':7.8,
    'Thoovanathumbikal':7.6,
    'Aarattu':8,
    'Knowing':6
}
# #Printing list
movie_list.items()

dict_items([('Before Sunrise', 5), ('Bullet Train', 8), ('Primer', 7), ('Arrival', 8), ('Curious Case Of Benjamin Button', 7.5), ('Old Boy', 8.8), ('Dear Friend', 7), ('DevD', 7.2), ('The Art of Racing in the Rain', 7.8), ('Thoovanathumbikal', 7.6), ('Aarattu', 8), ('Knowing', 6)])

In [ ]:
#Adding 2 movies and ratings
i=0;
while(i<2):
  newMovie=input("Enter movie and rating to add ['Movie':'Rating'] :")
  movieName=newMovie.split(':')[0]
  movieRating=float(newMovie.split(':')[1])
  movie_list[movieName]=movieRating
  i+=1
movie_list.items()

Enter movie and rating to add ['Movie':'Rating'] :WakeUpSid:8
Enter movie and rating to add ['Movie':'Rating'] :Tu Hai Mera Sunday:7.5

dict_items([('Before Sunrise', 9.0), ('Bullet Train', 8), ('Primer', 7), ('Arrival', 8), ('Curious Case Of Benjamin Button', 7.5), ('Old Boy', 8.8), ('Dear Friend', 7), ('DevD', 7.2), ('The Art of Racing in the Rain', 7.8), ('Thoovanathumbikal', 7.6), ('Aarattu', 5.0), ('Knowing', 6), ('WakeUpSid', 8.0), ('Tu Hai Mera Sunday', 7.5)])

In [ ]:
#Updating Ratings
j=1
while(j==1):
  updateMovie=input("Enter the movie you want to update the rating of: ")
  for k,v in movie_list.items():
    if(updateMovie==k):
      updateRating=float(input("Enter rating of the movie :"))

      movie_list[k]=updateRating
      j=0
  if(j!=0):
    print("Movie not Found")
  inv=0
  while(inv==0):
    ans=input("Do you want to update more[Y/N]?: ")
    if ans=='Y' or ans=='y':
      j=1
      inv=1
    elif ans=='N' or ans=='n':
      j=0
      inv=1
    else:
      print("Invalid option")
      inv=0
movie_list.items()

Enter the movie you want to update the rating of: Aarattu
Enter rating of the movie :5
Do you want to update more[Y/N]?: y
Enter the movie you want to update the rating of: Before Sunrise
Enter rating of the movie :9
Do you want to update more[Y/N]?: n

dict_items([('Before Sunrise', 9.0), ('Bullet Train', 8), ('Primer', 7), ('Arrival', 8), ('Curious Case Of Benjamin Button', 7.5), ('Old Boy', 8.8), ('Dear Friend', 7), ('DevD', 7.2), ('The Art of Racing in the Rain', 7.8), ('Thoovanathumbikal', 7.6), ('Aarattu', 5.0), ('Knowing', 6), ('WakeUpSid', 8.0), ('Tu Hai Mera Sunday', 7.5)])

# **User Defined Function**

In [ ]:
def greet():
  print("hello welcome to Kerala!")

greet()

hello welcome to Kerala!

In [ ]:
def greet(name,time ='11 am'):  #default value set
  print(f"Hello {name} ,Welcome to the program")
  print(f"Your session will start at {time}")

greet('Nikhil','3 pm')
greet('Sreesanth','10 am')
greet('RajuA10')  #since default value set no need to call time argument

Hello Nikhil ,Welcome to the program
Your session will start at 3 pm
Hello Sreesanth ,Welcome to the program
Your session will start at 10 am
Hello RajuA10 ,Welcome to the program
Your session will start at 11 am

In [ ]:
#WAP to print the product of two user defined numbers using functions
n1=int(input("Enter first number: "))
n2=int(input("Enter second number: "))

def product(num1,num2):
  prod=num1*num2
  print(f"Product of {num1} and {num2} is {prod}")

product(n1,n2)

Enter first number: 12
Enter second number: 45
Product of 12 and 45 is 540

In [ ]:
#WAP to print the total bill amount (including 10% tip) for the food consumed at a restaurant
priceOrdered=float(input("Price ordered: "))
def totalBill(price):
  totalPrice=price+ 10/100.0*price
  print(f"Total Bill Amount: {totalPrice}")

totalBill(priceOrdered)

Price ordered: 45
Total Bill Amount: 49.5

In [ ]:
#WAP to print total Bill that includes tip amount which increases on the price of the ordered food
priceOrdered=float(input("Price ordered: "))
def totalBill(price):
  if(price>1000):
    totalPrice=price+20/100.0*price
  elif(price>500):
    totalPrice=price+15/100.0*price
  else:
    totalPrice=price+ 10/100.0*price
  print(f"Total Bill Amount: {totalPrice}")

totalBill(priceOrdered)

Price ordered: 3000
Total Bill Amount: 3600.0

In [ ]:
#LIst and functions

#WAP to print the average of even numbers of numbers inside a list
num_list=[12,4,5,7,8,13,10,21]
def average_even(numberlist):
  even_list=[]
  for num in numberlist:
    if num%2==0:
      even_list.append(num)
  averageEven=sum(even_list)/len(even_list)
  print(f"All even numbers in the list: {even_list}")
  print(f"Average of the even numbers in the list: {averageEven}")
print(f"All numbers in the list: {num_list}")
average_even(num_list)

All numbers in the list: [12, 4, 5, 7, 8, 13, 10, 21]
All even numbers in the list: [12, 4, 8, 10]
Average of the even numbers in the list: 8.5

In [ ]:
#printing number of items in a list using *args in function
def sum_numbers(*args): # * = tuple    #here args can be changed to any word
  print(type(args))
  total=0
  for i in args:
    total+=1
  print(total)

sum_numbers(1,2,3,4,5)

<class 'tuple'>
5

In [ ]:
def print_info(**args): # ** = dict
  print(type(args))
  for item,val in args.items():
    print(f"{item} is {val}")
print_info(name="Alan",place="tvm",Score=6)
print_info(name="Saketh",place="tvm",Batch="DSA")

<class 'dict'>
name is Alan
place is tvm
Score is 6
<class 'dict'>
name is Saketh
place is tvm
Batch is DSA

In [ ]:
#lambda
square=lambda x : x*x  #lambda acts similar to a function [ 'function name' = lambda 'parameter' : 'operation' ]
square(5)

25

In [ ]:
add=lambda x,y :x+y
add(2,3)

5

In [ ]:
def Totalmark(marks):
  return(sum(marks))

FinalScore =Totalmark([10,20,30,40,50]) #list as argument
if FinalScore>=90:
  print("Grade A")
elif FinalScore >=80:
  print("Grade B")
elif FinalScore >=70:
  print("Grade C")
elif FinalScore >=60:
  print("Grade D")
else:
  print("Fail")

Fail

# **OOPS Concept**

Class,
Object/Instances,
Inheritance,
Polymorphism,
Encapsulation,
Abstraction

In [ ]:
class Animal:
  animal_type="Dog"
  num_legs=4
  mammal="Yes"

  def Sound(self):
    print("Animal barks")

obj1=Animal()
obj1.Sound()

obj2=Animal()
obj2.Sound()

Animal barks
Animal barks

In [ ]:
class Person:
  place="tvm"

  def __init__(self,name,age):
    self.name=name
    self.age=age

  def greet(self):
    return f"Hi myself {self.name} and my age is {self.age} and I am from {self.place}"

obj3=Person("Nikhil",25)
obj3.greet()

obj4=Person("Sreesanth",20)
obj4.greet()

'Hi myself Sreesanth and my age is 20 and I am from tvm'

## **Derived Class**

In [ ]:
class Employee:
  def __init__(self,name,emp_id,salary):
    self.name=name
    self.emp_id=emp_id
    self.salary=salary
  def display_info(self):
    print(f"Name: {self.name}")
    print(f"Employee ID: {self.emp_id}")
    print(f"Salary: {self.salary}")

In [ ]:
#class manager
class Manager(Employee):
    def __init__(self,name,emp_id,salary,dept,teamSize):
      super().__init__(name,emp_id,salary)
      self.dept=dept
      self.teamSize=teamSize

    def display_manager_info(self):
      self.display_info()
      print(f"Department: {self.dept}")
      print(f"Team Size: {self.teamSize}")

emp1=Employee("John Doe","12345",50000)
emp1.display_info()

manager1=Manager("Jane Smith","6789",80000,'IT',12)
manager1.display_manager_info()

Name: John Doe
Employee ID: 12345
Salary: 50000
Name: Jane Smith
Employee ID: 6789
Salary: 80000
Department: IT
Team Size: 12

In [ ]:
#class team leader
class Teamleader(Manager):
    def __init__(self,name,emp_id,salary):
      super().__init__(name,emp_id,salary)

    def display_manager_info(self):
      self.display_info()

1=Manager("Jane Smith","6789",80000)
manager1.display_manager_info()