<a href="https://colab.research.google.com/github/noctxrne/ICT-Notes/blob/main/Data_Engineering_and_Pipelines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#Load dataset
data= pd.read_csv("/content/UpdatedMissing_irisexcel (1) (1)  - irisexcel (1) (1).csv")

#Check for issues
print(data.info())
print(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  144 non-null    float64
 1   sepal_width   146 non-null    float64
 2   petal_length  144 non-null    float64
 3   petal_width   148 non-null    float64
 4   species       143 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
   sepal_length  sepal_width  petal_length  petal_width species
0           NaN          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          NaN           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
#Remove duplicates
data =data.drop_duplicates()

#Handling missing values (if any)
data=data.fillna(method="ffill")

print("Cleaned dataset shape:",data.shape)
print(data.head())

Cleaned dataset shape: (150, 5)
   sepal_length  sepal_width  petal_length  petal_width species
0           NaN          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.0           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

/tmp/ipython-input-3592649794.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data=data.fillna(method="ffill")

In [ ]:
!pip install schedule

Requirement already satisfied: schedule in /usr/local/lib/python3.12/dist-packages (1.2.2)

In [ ]:
import schedule
import time
import pandas as pd
def pipeline():
  data=pd.read_csv("/content/irisexcel (1) (1).csv")
  data=data.drop_duplicates()
  data=data.fillna(method="ffill")
  print("Rows: ",len(data))
  print("Mean values:\n",data.mean(numeric_only=True))

schedule.every(0.10).minutes.do(pipeline)

while(True):
  schedule.run_pending()
  time.sleep(1)

/tmp/ipython-input-33816926.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data=data.fillna(method="ffill")

Rows:  147
Mean values:
 sepal_length    5.856463
sepal_width     3.055782
petal_length    3.780272
petal_width     1.208844
dtype: float64

/tmp/ipython-input-33816926.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data=data.fillna(method="ffill")

Rows:  147
Mean values:
 sepal_length    5.856463
sepal_width     3.055782
petal_length    3.780272
petal_width     1.208844
dtype: float64

/tmp/ipython-input-33816926.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data=data.fillna(method="ffill")

Rows:  147
Mean values:
 sepal_length    5.856463
sepal_width     3.055782
petal_length    3.780272
petal_width     1.208844
dtype: float64

/tmp/ipython-input-33816926.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data=data.fillna(method="ffill")

Rows:  147
Mean values:
 sepal_length    5.856463
sepal_width     3.055782
petal_length    3.780272
petal_width     1.208844
dtype: float64

/tmp/ipython-input-33816926.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data=data.fillna(method="ffill")

Rows:  147
Mean values:
 sepal_length    5.856463
sepal_width     3.055782
petal_length    3.780272
petal_width     1.208844
dtype: float64

KeyboardInterrupt:

In [ ]:
import pandas as pd
import random

names=["Alice","Bob","Charlie","Diana","Eric","Farah","George","Helen","Ian","Jenny"]
departments=["Computer Science","Electronics","Mechanical","Civil"]
data=[]
for i in range(1,21):
  record={
      'student_id':i,
      'name':random.choice(names),
      'age':random.choice([20,21,22,23,None]),
      'department':random.choice(departments+['Electronics']),
      'marks':random.randint(50,100),
      'attendance':random.choice([random.randint(70,100),None])
  }
  data.append(record)

df=pd.DataFrame(data)

#Save
df.to_csv("Students_random.csv",index=True)
print("Random dirty saved as student_random.csv")
print(df.head(10))

In [ ]:
df=pd.read_csv('Students_random.csv')

print('original dirty data')
print(df.head())

df.drop_duplicates()
df['age']=df['age'].fillna(df['age'].mean())
df['attendance']=df['attendance'].fillna(df['attendance'].median())
df['department']=df['department'].replace({'Electronics':'Electronics'})
print('\nCleaned Data')
print(df.head(30))

original dirty data
   Unnamed: 0  student_id   name   age        department  marks  attendance
0           0           1  Helen  22.0       Electronics     92         NaN
1           1           2  Farah  23.0             Civil     53        87.0
2           2           3  Alice  20.0  Computer Science     60         NaN
3           3           4    Bob  23.0        Mechanical     87        86.0
4           4           5  Diana  21.0  Computer Science     57        79.0

Cleaned Data
    Unnamed: 0  student_id    name      age        department  marks  \
0            0           1   Helen  22.0000       Electronics     92
1            1           2   Farah  23.0000             Civil     53
2            2           3   Alice  20.0000  Computer Science     60
3            3           4     Bob  23.0000        Mechanical     87
4            4           5   Diana  21.0000  Computer Science     57
5            5           6   Helen  22.0000        Mechanical     56
6            6           7   Diana  21.5625             Civil     80
7            7           8  George  21.0000  Computer Science     96
8            8           9   Helen  21.0000        Mechanical     90
9            9          10   Diana  21.5625             Civil     59
10          10          11    Eric  21.0000        Mechanical     87
11          11          12  George  22.0000        Mechanical     73
12          12          13   Helen  21.5625       Electronics     87
13          13          14     Bob  21.5625       Electronics     79
14          14          15   Helen  20.0000       Electronics     64
15          15          16  George  20.0000  Computer Science     54
16          16          17    Eric  23.0000       Electronics     51
17          17          18     Bob  22.0000       Electronics     90
18          18          19   Alice  21.0000             Civil     87
19          19          20     Bob  23.0000       Electronics     91

    attendance
0         87.0
1         87.0
2         87.0
3         86.0
4         79.0
5         81.0
6         87.0
7         87.0
8         87.0
9         87.0
10        87.0
11        97.0
12        99.0
13        87.0
14        98.0
15        88.0
16        78.0
17        87.0
18        93.0
19        87.0

In [ ]:
#Automation rule chek low marks
if "marks" in df.columns:
  low_marks=df[df["marks"]<40]
  if not low_marks.empty:
    print("\n Warning!! Students with marks below 40:")
    print(low_marks[["student_id","name","marks"]])
  else:
    print("\n No failing students found")
print("\n Cleaned Data")
print(df.head())

 No failing students found

 Cleaned Data
   Unnamed: 0  student_id   name   age        department  marks  attendance
0           0           1  Helen  22.0       Electronics     92        87.0
1           1           2  Farah  23.0             Civil     53        87.0
2           2           3  Alice  20.0  Computer Science     60        87.0
3           3           4    Bob  23.0        Mechanical     87        86.0
4           4           5  Diana  21.0  Computer Science     57        79.0